.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr
  }
}

.form__field {
  padding: 10px;
  border: 2px solid #eee;
}

.form__button {
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
}

.form__button:hover {
  transition: background-color 1s, transform 2s;
  background-color: rgba(0, 128, 128, 0.712);
  transform: scale(1.2);
}