.tasksList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tasksList__item {
  padding: 15px;
  border-bottom: 2px solid #eee;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  align-items: center;
}

.tasksList__button {
  width: 30px;
  height: 30px;
  background-color: green;
  border: none;
  color: white;
}

.tasksList__button:hover {
  transition: 1s;
  background-color: rgba(0, 128, 0, 0.712);
}

.tasksList__button--deleteTask {
  background-color: red;
}

.tasksList__button--deleteTask:hover {
  background-color: rgba(255, 0, 0, 0.712);
}

.tasksList__content--done {
  text-decoration: line-through;
}

.tasksList__item--hidden {
  display: none;
}